.container {
  width: 100vw;
  background: transparent;
  animation: scrolling linear;
  animation-timeline: scroll();
}
@keyframes scrolling {
  to {
    background-color: #15191E;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}
