/* styles.css */
@import 'daisyui/dist/full.css';

@font-face {
  font-family: 'logo';
  /* Use the same font-family name as in the Tailwind config */
  src: url('./assets/fonts/LogoFont/AnotherDanger.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'mons';
  font-style: normal;
    font-weight: 500;
  src: url("./assets/fonts/Montserrat/Montserrat-Medium.ttf") format('truetype');
  font-display: swap;
}

@font-face {
    font-family: 'mons'; 
    font-style: bold;
    font-weight: 700;
     src: url("./assets/fonts/Montserrat/Montserrat-Bold.ttf") format('truetype');

}

@tailwind base;
@tailwind components;
@tailwind utilities;





